/* SCSS Document */
#contents {
	font-family: Meyrio;
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0px 20px;
	background-color: antiquewhite;
	align-content: center;

	p {
		margin-bottom: 30px;
	}
}

#pageTop {
	position: relative;
	max-width: 600px;
	img {
		width: 100%;
		max-width: 600px;
	}

	h1 {
		top: 0;
		left: 0;
		position: absolute;
		color: white;
	}
}



#article {
	max-width: 600px;
	img {
		width: 100%;
	}
}
