/* SCSS Document */
#contents {
  font-family: Meyrio;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 20px;
  background-color: antiquewhite;
  align-content: center; }
  #contents p {
    margin-bottom: 30px; }

#pageTop {
  position: relative; }
  #pageTop img {
    width: 100%;
    max-width: 600px; }
  #pageTop h1 {
    top: 0;
    left: 0;
    position: absolute;
    color: white; }

#article img {
  width: 100%;
  max-width: 600px; }
